.red_line {
    width: 100%; 
    height: 30px; 
    background-color: white;
    border-radius: 15px 15px 0 0;
}
.red_line_reverse {
    width: 100%; 
    height: 30px; 
    background-color: white;
    border-radius: 0 0 15px 15px;
  }
.space{
    display: flex;
    justify-content: space-around;
}
.button1{
    margin-top: 3px;
    font-size:15px;
    font-family:Arial;
    width:70px;
    height:25px;
    border-width:1px;
    color:#fff;
    border-color: #3cc653;
    border-top-left-radius:28px;
    border-top-right-radius:28px;
    border-bottom-left-radius:28px;
    border-bottom-right-radius:28px;
    text-shadow: 1px 1px 0px #2f6627;
    background:rgb(123, 174, 255);
}
.button2{
    margin-top: 14.5px;
    font-size:15px;
    font-family:Arial;
    width:150px;
    height:25px;
    border-width:1px;
    color:#fff;
    border-color: #3cc653;
    border-top-left-radius:28px;
    border-top-right-radius:28px;
    border-bottom-left-radius:28px;
    border-bottom-right-radius:28px;
    text-shadow: 1px 1px 0px #2f6627;
    background:rgb(123, 174, 255);
}
.button3{
    margin-top: 3px;
    font-size:15px;
    font-family:Arial;
    width:120px;
    height:25px;
    border-width:1px;
    color:#fff;
    border-color: #3cc653;
    border-top-left-radius:28px;
    border-top-right-radius:28px;
    border-bottom-left-radius:28px;
    border-bottom-right-radius:28px;
    text-shadow: 1px 1px 0px #2f6627;
    background:  rgb(123, 174, 255);
}
button:hover {
    background: rgb(103, 154, 255);
  }
.center1{
    display: flex;
    justify-content: center;
}
h2{
    font-family: Playfair Display;
    font-size: 35px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #DCE6Eb;;
}
.margin{
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}
p{
    font-family: Playfair Display;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 3px;
    color: #DCE6Eb;
    margin-left: 8px;
}
.hidden{
    display: none;
}
.news_page{
    display: flex;
    justify-content: space-between;
}
.square1{
    width: 600px;
    height: 338px;
    border: solid rgb(123, 174, 255);
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 30px;
}
.square2{
    width: 1150px;
    height: 594px;
    border: solid rgb(123, 174, 255);
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 30px;
}
.square{
    margin-bottom: 350px;
    position: relative;
    width: 320px;
    height: 180px;
    border: solid rgb(123, 174, 255);
    border-radius: 15px;
    overflow: hidden;
    transition: box-shadow 0.3s;
    z-index: 1;
}
.square:hover{
    width: 320px;
    box-shadow: 0 0 50px white;
}
.myButton {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color:  rgb(123, 174, 255);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.cont_cont{
    margin-top: 5px;
}
.btn_corner{
    position: absolute;
    top: 9.5px;
    left: 1390px;
}
.menu-btn {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}
.line{
    display: block;
    width: 25px;
    height: 5px;
    background-color: rgb(123, 174, 255);
    margin: 3px 0;
    border-radius: 9px;
    transition: width 0.3s, box-shadow 0.3s;
}
.button_line:hover .line{
    width: 25px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.border_topic{
    margin-left: 702px;
    width: 50vw;
    height: 98vh;
    border: solid black;
    position: fixed;
    border-radius: 15px;
    background-color:  #1D1D1F;
    z-index: 2;
}

.btn_close{
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    color: rgb(255, 103, 103);
    font-size: 20px;
    font-family:Arial;
    
}
.button_close{
    order: 1;
    background-color:  #1D1D1F;
}
.button_close:hover{
    width: 25px;
    margin-top: 3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.c{
    margin-left: 10px;
}
.c1{
    margin-right: 8px;
}
.topic{
    text-align: center;
    color: white;
}
.text{
    margin-top: 10px;
}
.topic a {
    text-decoration: none; 
    color: inherit; 
  }

.topic a:hover {
text-decoration: underline;
}
.square_main_all{
    height: 100%;
    width: 100%;
    border-radius: 3px;
    background-color: #1E2224;
}  
.space_btn1_left{
    margin-left: 5px;
}
.space_btn2_right{
    margin-right: 5px;
}
body{
    background-color: #161B1D;
}
.ded1{
    color: beige;
}